html {
	background-color: #008000;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
    border: 5px solid black;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

h1 {
	margin: 0;
	padding: 20px 0;
	text-shadow: : 3px 3px 1px black;
	color: green;
	font-family: 'Quicksand', serif;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

p {
	color: green;
}

img {
	display: block;
	margin: 0 auto;
}

#logo {
	float: right;
}

header {
	padding-bottom: 30px;
}